<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for st in state %}
            <LI>"{{ st.id|e }}: "<B>"{{ st.name|e }}"</B>
                <UL>
                    {% for ct in city %}
                        {% if ct.state_id == st.id %}
                    <LI>{{ ct.id|e }}: <B>{{ ct.name|e }}</B></LI>
                        {% endif %}
                    {% endfor %}
                </UL>
            </LI>
            {% endfor %}
        </UL>
    </BODY>
</HTML>
